* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* define colors,  */
:root {
  /* primary colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphic-design-text: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --footer-color: hsl(168, 34%, 41%);

  /* Neutral colors */
  --very-dark-blue: hsl(212, 27%, 19%);
  --very-dark-greyish-blue: hsl(213, 9%, 39%);
  --dark-greyish-blue: hsl(232, 10%, 55%);
  --greyish-blue: hsl(210, 4%, 67%);
  --white: #fffbf8;

  /* container identification border */
  --border: 2px solid var(--dark-blue);
}

body {
  font-size: 18px;
  scroll-behavior: smooth;
  overflow-x: scroll;
}

/* header styling */
header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.logo {
  padding: 1.6rem;
}

header .menubar {
  font-size: 2.5rem;
  border: 0.1rem solid var(--black);
  cursor: pointer;
  color: var(--white);
  display: none;
  padding: 0.5rem 1.5rem;
}

.navbar {
  align-items: center;
  width: 40%;
  font-family: "Barlow", sans-serif;
  display: flex;
  justify-content: space-around;
}

.navbar > a {
  color: var(--white);
  text-decoration: none;
}

.navbar > a.active {
  color: var(--dark-blue);
  background: var(--white);
  height: 3rem;
  width: 9rem;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* home section stling */
.home {
  background-image: url("./images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.home > .home_content {
  width: 90%;
  height: 50vh;
  position: absolute;
  top: 99px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.home > .home_content > h1 {
  font-size: 4rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: var(--white);
}

/* services section stling */
.services {
  border: var(--border);
  /* height: 100vh; */
  display: grid;
  grid-template-rows: repeat(3 1fr);
}

.row {
  display: grid;
  grid-template-columns: repeat(2 1fr);
  display: flex;
  border: var(--border);
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  border: var(--border);
  background-color: var(--white);
}

/* .row > .col-3 {
  /* background-image: url("./images/desktop/image-photography.jpg"); 
} */

.col_content {
  /* border: var(--border); */
  margin-left: 5%;
  background: var(--white);
  height: 60%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.col > img {
  object-fit: contain;
}

.title {
  font-size: 3.5rem;
  color: var(--very-dark-blue);
  font-weight: 900;
  font-family: "Fraunces", serif;
}

.para {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Barlow", sans-serf;
  color: var(--greyish-blue);
}

.btn {
  text-decoration: none;
  font-family: "Fraunces", serif;
  color: var(--very-dark-blue);
  font-size: 1.5rem;
  width: 25%;
  text-align: center;
  background: rgb(238, 238, 53);
  background: linear-gradient(
    360deg,
    rgba(238, 238, 53, 1) 0%,
    rgba(241, 242, 5, 0) 52%
  );
}

/* Mobile Responsive */
@media (max-width: 375px) {
  #menu {
    display: block;
    font-size: 1.6rem;
  }

  header .navbar {
    display: none;
  }

  .home > .home_content > h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    text-align: center;
  }

  .home > .home_content {
    width: 84%;
    height: 53vh;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}

/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */
