* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* define colors,  */
:root {
  /* primary colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphic-design-text: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --footer-color: hsl(168, 34%, 41%);

  /* Neutral colors */
  --very-dark-blue: hsl(212, 27%, 19%);
  --very-dark-greyish-blue: hsl(213, 9%, 39%);
  --dark-greyish-blue: hsl(232, 10%, 55%);
  --greyish-blue: hsl(210, 4%, 67%);
  --white: #fffbf8;

  /* container identification border */
  --border: 2px solid var(--dark-blue);
}

body {
  font-size: 18px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* header styling */
header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
}

.logo {
  padding: 1.6rem;
}

header .menubar {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--white);
  display: none;
  padding: 0.5rem 1.5rem;
}

.navbar {
  align-items: center;
  width: 40%;
  font-family: "Barlow", sans-serif;
  display: flex;
  justify-content: space-around;
}

.navbar > a {
  color: var(--white);
  text-decoration: none;
}

.navbar > a.active {
  color: var(--dark-blue);
  background: var(--white);
  height: 3rem;
  width: 9rem;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* home section stling */
.home {
  background-image: url("./images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.home > .home_content {
  width: 90%;
  height: 50vh;
  position: absolute;
  top: 99px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.home > .home_content > h1 {
  font-size: 4rem;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: var(--white);
}

/* services section stling */
.services {
  display: grid;
  grid-template-rows: repeat(2 1fr);
}

.row {
  display: grid;
  grid-template-columns: 50% 50% 1fr 2fr;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col_content {
  margin-left: 5%;
  background: var(--white);
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.col > img {
  object-fit: contain;
  width: 100%;
}

.title {
  font-size: 3.5rem;
  color: var(--very-dark-blue);
  font-weight: 900;
  font-family: "Fraunces", serif;
}

.para {
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Barlow", sans-serf;
  color: var(--greyish-blue);
}

.btn {
  text-decoration: none;
  font-family: "Fraunces", serif;
  color: var(--very-dark-blue);
  font-size: 1.5rem;
  width: 25%;
  text-align: center;
  background: rgb(238, 238, 53);
  background: linear-gradient(
    360deg,
    rgba(238, 238, 53, 1) 0%,
    rgba(241, 242, 5, 0) 52%
  );
}

.image_photography > img {
  width: 100%;
  object-fit: contain;
}

.image_graphic_design {
  position: relative;
}

.image_photography {
  position: relative;
}

.title3 {
  position: absolute;
  top: 27rem;
  left: 18rem;
  color: var(--graphic-design-text);
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Fraunces", serif;
}

.para3 {
  position: absolute;
  top: 31rem;
  left: 10rem;
  right: 10rem;
  color: var(--graphic-design-text);
  font-family: "Barlow", sans-serif;
  font-size: 1.463rem;
  text-align: center;
}

.image_graphic_design > img {
  width: 100%;
  object-fit: contain;
}

.Photography_text {
  color: var(--dark-blue);
}
.Photography_para {
  color: var(--dark-blue);
}

.row-col_content {
  margin-left: 5%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* testimnials stling */
.testimonials {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* background: chartreuse; */
}

.test_heading {
  color: var(--greyish-blue);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  margin-top: 9%;
  /* background: var(--footer-color); */
  letter-spacing: 5px;
  font-size: 1.5rem;
}

.testimonial_cards {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  /* background: cornsilk; */
}

.card {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 75%;
  justify-content: space-around;
  align-items: center;
  /* background: white; */
  /* border: var(--border); */
}

.card > img {
  border-radius: 50%;
  width: 25%;
  object-fit: contain;
}

.card > .client_testimonials {
  color: var(--very-dark-greyish-blue);
  font-size: 1.25rem;
  font-family: "Barlow", sans-serif;
  text-align: center;
}

.client {
  display: flex;
  line-height: 35px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.client > .name {
  color: var(--very-dark-blue);
  font-size: 1.375rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
}

.client > .job {
  font-family: "Barlow";
  color: var(--greyish-blue);
}

/* Mobile Responsive */
@media (max-width: 375px) {
  #menu {
    display: block;
    font-size: 1.6rem;
  }

  header .navbar {
    display: none;
  }

  .home > .home_content > h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    text-align: center;
  }

  .home > .home_content {
    width: 84%;
    height: 53vh;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
}

/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */
